// animation loading
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: $color-white;
    animation: hideLoader 2s forwards 1s;

}

.loading span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 3px;
    background-color: $color-primary;
    animation: dots 2s ease-in-out;

}

.loading span:nth-child(2) {
    background-color: $color-secondary;
    animation-delay: 0.1s;
}

.loading span:nth-child(3) {
    background-color: $color-tertiary;
    animation-delay: 0.2s;

}

// partie de l'adress
.adress__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(234, 234, 234);
    padding: 20px 0;
    box-shadow: inset 0px 8px 8px -3px $color-shadow;
}

.location__Icon {
    font-size: 20px;
    cursor: pointer;

}

.location__adress {
    padding-left: 13px;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.7;
}

// partie informations
.informations {
    background-color: $color-grey-light;
    padding: 40px 0;
    text-align: center;

    & h2 {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 600;
    }

    & p {
        padding-bottom: 20px;
        font-size: 16px;
        opacity: 0.7;
    }
}

.btn {

    @include linear-gradient;
    box-shadow: 3px 3px 3px $color-shadow;
    font-weight: 500;
    padding: 16px;
    border-radius: 50px;
    border: none;
    color: $color-white;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        transition: box-shadow 300ms ease;
        box-shadow: 0 0 16px 0 rgb(120, 120, 120, 0.5);
        opacity: 0.9;

    }
}

// partie functions btn 
.functions {

    margin: 50px 0;

    &__container {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;

        // version mobile
        @include mobile (767px) {
            flex-direction: column;
            align-items: center;
            margin-left: 20px;
        }

    }

    &__btn {
        display: flex;
        align-items: center;
        background-color: $color-grey-light;
        border-radius: 20px;
        box-shadow: 0 0 10px 0 $color-shadow;
        transition: background-color 300ms ease;
        width: 27%;
        padding: 10px;
        cursor: pointer;

        // version mobile
        @include mobile (767px) {
            width: 85%;
            padding: 0px;
            margin-bottom: 20px;
        }

        & p {
            font-weight: 600;
            font-size: 20px;

            // version tablette
            @include tablette(768px, 992px) {

                font-size: 15px;
            }
        }

        &:hover {
            background: $color-btn-hover;
            box-shadow: 3px 3px 3px $color-shadow;
            transition: background-color 1s;

            .icon {
                color: $color-primary;
            }
        }

    }

    .number {
        width: 30px;
        height: 30px;
        background-color: $color-primary;
        border-radius: 50%;
        margin-left: -25px;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;

        // version mobile
        @include mobile (767px) {
            margin-left: -20px;
        }


    }

    .icon {
        padding: 20px;
        font-size: 25px;
        color: $color-icon;

        // version tablette
        @include tablette(768px, 992px) {

            padding: 0 15px;
        }

    }



}

// partie des cartes restaurants 
.restaurants {
    background-color: $color-grey-light;
    padding: 16px 0;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        @include mobile (767px) {
            flex-direction: column;
            align-items: center;
        }

        & a {
            width: 45%;
            margin: 2%;

            // version mobile
            @include mobile (767px) {
                width: 85%;
            }

        }
    }

    &__card {
        border-radius: 20px;
        box-shadow: 0 0 20px $color-shadow;
        background-color: $color-white;
        position: relative;

        &__image {
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            object-fit: cover;
            width: 100%;
            height: 230px;

            // version mobile
            @include mobile (767px) {
                height: 110px;
            }
        }

        &__body {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 20px 5px;
            line-height: 2px;
        }

        &__new {

            background-color: $color-tertiary;
            color: $color-green-dark;
            padding: 0 20px;
            border-radius: 3px;
            position: absolute;
            top: 19px;
            right: 10px;
            animation: new 4 1500ms ease-in-out 2s;

            // version mobile
            @include mobile (767px) {
                padding: 0 5px;
            }

            // version mobile
            p {
                @include mobile (767px) {
                    font-size: 12px;
                }
            }
        }

        &__like {
            font-size: 35px;
            padding: 0 15px;

            .heart {
                &:hover {
                    animation: heart 1000ms forwards;
                }

            }

        }
    }



}