$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-white: #fff;
$color-grey-dark:#353535;
$color-grey-light:#f2f2f2;
$color-btn-hover:#f7f0f7;
$color-icon:#808080;
$color-shadow:lightgrey;