footer {
    background-color: $color-grey-dark;

    h6 {
        color: $color-white;
    }

    ul {
        padding-left: 0px;
    }

    li {
        color: $color-white;
        margin-bottom: 5px;
    }


}

.footer__icon {
    margin-right: 5px;
}

.footer__container {
    padding: 16px 45px;
}